<aside class="menu">
    <div class="menu-content main-content">
        <a target="_blank" href="https://www.leagueoflegends.com/pt-br/"><img class="menu-logo"
                src="../Assets/Img/LoL_Icon_Flat_GOLD.png" alt="League of Legends LOGO"></a>
        <nav>
            <ul onclick="getElementById('close-menu').checked = false;">
                <li><a href="#Inicio">Início</a></li>
                <li><a href="#Conhecimentos">Conhecimentos</a></li>
                <li><a href="#select-champion">Escolha seu campeão!</a></li>
            </ul>
        </nav>
    </div>
</aside>
<div class="menu-spacing"></div>
