<section id="Conhecimentos" class="conhecimento_background section">
    <div class="main-content concepts-content">
        <div class="concepts-text-content">
            <h2>Conhecimentos necessários</h2>
            <p> Alguns tópicos necessários para ser ter um bom desempenho na top lane.</p>

            <ul>
                <li>Ter noção do tracking (Monitoramento) do Jungle rival.</li>
                <li>Saber farmar (Conseguir ouro através de tropas) Com excelência.</li>
                <li>Fazer bom uso das Speels (Feitiços de invocador).</li>
                <li>Saber controlar a wave (tropas de minions).</li>
                <li>Saber o Power spike (pico de poder) do seu campeão e usa-lo.</li>
                <li>Sempre se manter atento a pegar o level 2 primeiro que seu adversário.</li>
                <li>Saber lidar com as matchups (combates) entre seu campeão e o do adversário.</li>
            </ul>
        </div>
    </div>
</section>