<footer>
    <div class="footer concepts-text-content">
        <div class="footer-content">
            <p>Desenvolvido por Victor Fernandes & Sabrina Andrade</p>
            <ul>
                <li><a target="_blank" href="https://instagram.com/vfsomente">
                        <img align="center" alt="Instagram Logotipo" height="25" width="25"
                            src="https://static.cdninstagram.com/rsrc.php/v3/yR/r/lam-fZmwmvn.png"> Instagram</a>
                </li>
                <li><a target="_blank" href="https://wa.me/5583996224883">
                        <img align="center" alt="Whatsapp Logotipo" height="25" width="25"
                            src="https://static.whatsapp.net/rsrc.php/v3/yP/r/rYZqPCBaG70.png"> Whatsapp</a>
                </li>
                <li><a target="_blank" href="https://github.com/VFSomente">
                        <img align="center" alt="Github Logotipo" height="25" width="25"
                            src="https://github.com/fluidicon.png"> Github</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<a class="back-to-top" href="#Inicio">➤</a>
