<section id="select-champion" class="grid-one primary-bg section">
    <div class="main-content grid-one-content">
        <h2 class="grid-main-heading">Selecione seu campeão!</h2>
        <p class="grid-description"> Breve dicionário sobre cada campeão com que Jogo. </p>

        <div class="grid">
            <div class="image-border">
                <a href="../jaxpage/jaxpage.component.html"><img
                        src="../Assets/Img/Champions/jax_image.png" alt="Imagem do campeão Jax" /></a>
                <h4>Jax</h4>
            </div>
            <div class="image-border">
                <a href="main_src/Champion_pages/darius_page/darius.html"><img
                        src="../Assets/Img/Champions/darius_image.png" alt="Imagem do campeão Darius" /></a>
                <h4>Darius</h4>
            </div>
            <div class="image-border">
                <a href="main_src/Champion_pages/aatrox_page/aatrox.html"><img
                        src="../Assets/Img/Champions/aatrox_image.png" alt="Imagem do campeão Aatrox" /></a>
                <h4>Aatrox</h4>
            </div>
            <div class="image-border">
                <a href="main_src/Champion_pages/renekton_page/renekton.html"><img
                        src="../Assets/Img/Champions/renekton.png" alt="Imagem do campeão Renekton" /></a>
                <h4>Renekton</h4>
            </div>
            <div class="image-border">
                <a href="main_src/Champion_pages/gwen_page/gwen.html"><img
                        src="../Assets/Img/Champions/gwen_image.png" alt="Imagem do campeão Gwen" /></a>
                <h4>Gwen</h4>
            </div>
            <div class="image-border">
                <a href="main_src/Champion_pages/k-sante_page/k-sante.html"><img
                        src="../Assets/Img/Champions/k-sante_image.png" alt="Imagem do campeão K'sante" /></a>
                <h4>K'sante</h4>
            </div>
        </div>
    </div>
</section>